@model Producer

@{
    ViewBag.Title = $"Details of {Model.FullName}";
}
<h3>Details of @Model.FullName</h3>
<div class="w-50 mx-auto">
    <div class="mb-3 d-flex justify-content-center">
        <img src="@Url.Content("~/Images/" + @Model.ProfilePicture)" alt="@Model.FullName" class="img-thumbnail rounded-circle fixed-img-height" />
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(Model => Model.FullName)</label>
        <input class="form-control" type="text" asp-for="FullName" readonly />
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(Model => Model.Bio)</label>
        <textarea rows="5" class="form-control" type="text" asp-for="Bio" readonly></textarea>
    </div>

    @* Movies *@
    @if (Model.Movies == null || !Model.Movies.Any())
    {
        <h5>This Producer is not assigned to any movie yet.</h5>
    }
    else
    {
        <div class="mb-3">
            <label class="form-label">@Html.DisplayNameFor(Model => Model.Movies)</label>
            <ol class="list-group-horizontal">
                @foreach (var item in Model.Movies)
                {
                    <li>@Html.DisplayFor(Model => item.Name)</li>
                }
            </ol>
        </div>
    }
    <div class="mb-3 d-flex justify-content-between">
        <a class="btn btn-outline-dark" asp-action="Index">Show All</a>
        <a class="btn btn-outline-dark" asp-action="AddEdit" asp-route-id="@Model.Id">Edit</a>
    </div>
</div>
