@model IEnumerable<Ingredient>
@{
    ViewBag.Title = "List of Ingredients"; 
}
<h1>Ingredients</h1>
<table class="table table-stripped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model)
            {
                <tr>
                   <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>
                        <a class="btn btn-info text-light" asp-action="Details" asp-route-id="@item.IngredientId">Details</a>
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.IngredientId">Edit</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.IngredientId">Delete</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
<div class="container">
    <a class="btn btn-primary" asp-action="Create">Create</a>
</div>
